<%= form_with(model: restaurant) do |form| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
        <% restaurant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>Restaurant Name (required)</p>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <p>Restaurant Address (required)</p>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <p>Restaurant City (required)</p>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <p>Restaurant State (required)</p>
    <%= form.select :state, options_for_select(us_states, :selected => form.object.state) %>
  </div>

  <div class="field">
    <p>Restaurant Zip (required)</p>
    <%= form.text_field :zip %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
