<div class="restaurant_container">

<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h3 class="no_margin_bottom"><%= @restaurant.name %></h3>

<p>
  <%= @restaurant.address %>
</p>

<p>
  <%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip %>
</p>

<br><br>

<h3 class="no_margin_bottom">Leave a comment</h3>
<p>
  <em>(max 200 characters)</em>
</p>
<%= form_for :restaurant, url: "/submit_comment", method: "get" do |f| %>
  <%= f.hidden_field :chosen_restaurant, value: @restaurant.id %>
  <%= text_area_tag :comment, nil, :size =>"40x10", :required => true %>
  <br><br>
  <%= f.submit "Submit", :method => :get, class: "floated" %>
<% end %>

<span>
  <%= button_to 'Cancel', restaurants_path, :method => :get, class: "floated" %>
</span>

<div>
