<div class="restaurant_container">

<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h3 class="no_margin_bottom"><%= @restaurant.name %></h3>

<p>
  <%= @restaurant.address %>
</p>

<p>
  <%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip %>
</p>

<br><br>

<h3>Does this restaurant rate among your favorites?</h3>
<%= form_for :restaurant, url: "/submit_favorite", method: "get" do |f| %>
  <%= radio_button_tag :favorite, ["yes",@restaurant.id], false, required: 'required' %> Yes
  <%= radio_button_tag :favorite, ["no",@restaurant.id], false, required: 'required' %> No
  <br><br>
  <%= f.submit "Submit", :method => :get, class: "floated" %>
<% end %>

<span>
  <%= button_to 'Cancel', restaurants_path, :method => :get, class: "floated" %>
</span>

<div>
