<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h3>Search for Restaurants by:</h3>

<div>
  <label class="search_radio_label"><input type="radio" name="searchRadio" value="Name" checked> Name</label>
  <label class="search_radio_label"><input type="radio" name="searchRadio" value="Address"> Address</label>
  <label class="search_radio_label"><input type="radio" name="searchRadio" value="City"> City</label>
  <label class="search_radio_label"><input type="radio" name="searchRadio" value="State"> State</label>
  <label class="search_radio_label"><input type="radio" name="searchRadio" value="Zip"> Zip</label>
</div>
<div class="Name search">
  <form action="/search">
    <input type="text" name="name" placeholder="Search">
    <button type="submit">Search Name</button>
  </form>
</div>
<div class="Address search">
  <form action="/search">
    <input type="text" name="address" placeholder="Search">
    <button type="submit">Search Address</button>
  </form>
</div>
<div class="City search">
  <form action="/search">
    <input type="text" name="city" placeholder="Search">
    <button type="submit">Search City</button>
  </form>
</div>
<div class="State search">
  <form action="/search">
    <input type="text" name="state" placeholder="Search">
    <button type="submit">Search State</button>
  </form>
</div>
<div class="Zip search">
  <form action="/search">
    <input type="text" name="zip" placeholder="Search">
    <button type="submit">Search Zip</button>
  </form>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    var targetBox = $("." + "Name");
    $(".search").not(targetBox).hide();
    $(targetBox).show();

    $('input[type="radio"]').click(function() {
      var inputValue = $(this).attr("value");
      var targetBox = $("." + inputValue);
      $(".search").not(targetBox).hide();
      $(targetBox).show();
    });
  });
</script>

<% if @restaurants.blank? == false %>
<br>
<hr>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Will Split</th>
      <th>Won't Split</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.city %></td>
        <td><%= restaurant.state %></td>
        <td><%= restaurant.zip %></td>
        <td><%= restaurant.will_split_count %></td>
        <td><%= restaurant.wont_split_count %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
<% end %>
