<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h3>Search for Restaurants by:</h3>

<div>
  <label class="search_radio_label"><input type="radio" name="search_radio" value="Name" <%= @radio_checked_name %>> Name</label>
  <label class="search_radio_label"><input type="radio" name="search_radio" value="Address" <%= @radio_checked_address %>> Address</label>
  <label class="search_radio_label"><input type="radio" name="search_radio" value="City" <%= @radio_checked_city %>> City</label>
  <label class="search_radio_label"><input type="radio" name="search_radio" value="State" <%= @radio_checked_state %>> State</label>
  <label class="search_radio_label"><input type="radio" name="search_radio" value="Zip" <%= @radio_checked_zip %>> Zip</label>
</div>
<div class="Name search" style="<%= @display_div_name %>">
  <form action="/search">
    <input type="text" name="name" placeholder="Name" required="true" value="<%= params[:name] %>">
    <button type="submit">Search</button>
  </form>
</div>
<div class="Address search" style="<%= @display_div_address %>">
  <form action="/search">
    <input type="text" name="address" placeholder="Address" required="true" value="<%= params[:address] %>">
    <button type="submit">Search</button>
  </form>
</div>
<div class="City search" style="<%= @display_div_city %>">
  <form action="/search">
    <input type="text" name="city" placeholder="City" required="true" value="<%= params[:city] %>">
    <button type="submit">Search</button>
  </form>
</div>
<div class="State search" style="<%= @display_div_state %>">
  <form action="/search">
    <%= select_tag :state, options_for_select(us_states, params[:state]), :required => true %>
    <button type="submit">Search</button>
  </form>
</div>
<div class="Zip search" style="<%= @display_div_zip %>">
  <form action="/search">
    <input type="text" name="zip" placeholder="Zip" required="true" value="<%= params[:zip] %>">
    <button type="submit">Search</button>
  </form>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('input[type="radio"]').change(function() {
      var inputValue = $(this).attr("value");
      var targetBox = $("." + inputValue);
      $(".search").not(targetBox).hide();
      $(targetBox).show();
    });
  });
</script>

<% if @restaurants.blank? == false %>
<br>
<hr>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Will</th>
      <th>Won't</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.city %></td>
        <td><%= restaurant.state %></td>
        <td><%= restaurant.zip %></td>
        <td><%= restaurant.will_split_count %></td>
        <td><%= restaurant.wont_split_count %></td>
        <td><%= link_to 'Vote', vote_path(restaurant) %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @restaurants.blank? == true && @search_made == true %>
<br>
<hr>

<h3>Didn't find the restaurant?</h3>
<%= button_to 'Add Restaurant', new_restaurant_path, :method => :get %>
<% end %>
