<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h3>Search for Restaurants by:</h3>

<div>
  <label class="search_radio_label"><input type="radio" name="searchRadio" value="Name" checked> Name</label>
  <label class="search_radio_label"><input type="radio" name="searchRadio" value="Address"> Address</label>
  <label class="search_radio_label"><input type="radio" name="searchRadio" value="City"> City</label>
  <label class="search_radio_label"><input type="radio" name="searchRadio" value="State"> State</label>
  <label class="search_radio_label"><input type="radio" name="searchRadio" value="Zip"> Zip</label>
</div>
<div class="Name search">
  <%= form_tag :method => "get" do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag("Search", :name => nil) %>
  <% end %>
</div>
<div class="Address search">
  <%= form_tag :method => "get" do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag("Search", :name => nil) %>
  <% end %>
</div>
<div class="City search">
  <%= form_tag :method => "get" do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag("Search", :name => nil) %>
  <% end %>
</div>
<div class="State search">
  <%= form_tag :method => "get" do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag("Search", :name => nil) %>
  <% end %>
</div>
<div class="Zip search">
  <%= form_tag :method => "get" do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag("Search", :name => nil) %>
  <% end %>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    var targetBox = $("." + "Name");
    $(".search").not(targetBox).hide();
    $(targetBox).show();

    $('input[type="radio"]').click(function() {
      var inputValue = $(this).attr("value");
      var targetBox = $("." + inputValue);
      $(".search").not(targetBox).hide();
      $(targetBox).show();
    });
  });
</script>

<% if @restaurants.nil? %>
<br>
<hr>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Will Split</th>
      <th>Won't Split</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.city %></td>
        <td><%= restaurant.state %></td>
        <td><%= restaurant.zip %></td>
        <td><%= restaurant.will_split_count %></td>
        <td><%= restaurant.wont_split_count %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
<% end %>
