<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<p>
  <strong><%= @restaurant.name %></strong>
</p>

<p>
  <%= @restaurant.address %>
</p>

<p>
  <%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip %>
</p>

<br>

<p>
  <strong>Will Split:</strong>
  <%= @restaurant.will_split_count %>
</p>

<p>
  <strong>Won't Split:</strong>
  <%= @restaurant.wont_split_count %>
</p>

<br>
<div>
  <%= button_to 'Edit', edit_restaurant_path(@restaurant), :method => :get, class: "floated" %>
  <%= button_to 'Cancel', restaurants_path, :method => :get, class: "floated" %>
</div>
