<div class="restaurant_container">

<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h3 class="no_margin_bottom"><%= @restaurant.name %></h3>

<p>
  <%= @restaurant.address %>
</p>

<p>
  <%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip %>
</p>

<br>

<p>
  <strong>Will Split:</strong>
  <%= @restaurant.will_split_count %> votes
</p>

<p>
  <strong>Won't Split:</strong>
  <%= @restaurant.wont_split_count %> votes
</p>

<br><br>

<% if @restaurant_comments.blank? == false %>
<table class="fill_width text_align_left">
  <thead>
    <tr>
      <th>Comment</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @restaurant_comments.each do |restaurant_comment| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td id="restaurant_comment"><%= restaurant_comment.comment %></td>
        <td id="comment_date"><%= restaurant_comment.created_at.strftime("%m-%d-%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p id="no_comment">No comments made</p>
<% end %>

<br><br>

<div>
  <%= button_to 'Edit', edit_restaurant_path(@restaurant), :method => :get, class: "floated" %>
  <%= button_to 'Cancel', restaurants_path, :method => :get, class: "floated" %>
</div>

</div>
