<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h3>Vote on Splitting: Will or Won't They</h3>

<p>
  <strong><%= @restaurant.name %></strong>
</p>

<p>
  <%= @restaurant.address %>
</p>

<p>
  <%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip %>
</p>

<br>

<p id="will">
  <strong>Will Split:</strong> <%= @restaurant.will_split_count %> <% if @restaurant.will_split_count == 1 %>vote<% else %>votes<% end %>
</p>

<p id="wont">
  <strong>Won't Split:</strong> <%= @restaurant.wont_split_count %> <% if @restaurant.wont_split_count == 1 %>vote<% else %>votes<% end %>
</p>

<br>

<h3>Cast your vote!</h3>
<%= form_for :restaurant, url: "/submit_vote", method: "get" do |f| %>
  <%= radio_button_tag :vote, ["will",@restaurant.id], false, required: 'required' %> Will Split
  <%= radio_button_tag :vote, ["wont",@restaurant.id], false, required: 'required' %> Won't Split
  <br><br>
  <%= f.submit "Vote", :method => :get, class: "floated" %>
<% end %>

<span>
  <%= button_to 'Cancel', restaurants_path, :method => :get, class: "floated" %>
</span>
