<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h3>Vote on Splitting: Will or Won't They</h3>

<p>
  <strong><%= @restaurant.name %></strong>
</p>

<p>
  <%= @restaurant.address %>
</p>

<p>
  <%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip %>
</p>

<br>

<h3>Cast your vote!</h3>
<form action="/submit_vote">
  <input type="radio" name="vote" value="will" checked> Will Split
  <input type="radio" name="vote" value="wont"> Won't Split
  <br><br>
  <button type="submit" class="floated">Vote</button>
</form>

<span>
  <%= button_to 'Cancel', restaurants_path, :method => :get, class: "floated" %>
</span>
